.top-bar {
  position: absolute;
  top: 0;
  height: 70px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%; 
  transition: width 0.5s ease;
}


.dropdown-toggle {
    background: transparent; 
    border: none; 
    padding: 0; 
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px; 
    gap:15px;
}


.dropdown-item {
    padding: 15px; 
    border-radius: 8px;
    color:black; 
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}
.dropdown-item:hover.active {
    color:white;
}

.dropdown-menu {
    width: 250px; 
    
}


.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  z-index: 2;
  transition: width 0.5s ease, left 0.5s ease; 
  border-radius: 10px;
}

.logo{

  color: #038edc;
  font-size: 22px;
  margin: 0 8px;
  border-radius: 6px;
  display: flex; 
  align-items: center;
  padding:30px 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: padding 0.5s ease;
}
.side-bar-collapsed .side-bar {
  width: 70px;
}

.side-bar-collapsed .top-bar {
  left: 70px;
}

.side-bar-link {
  color: #495057;
  font-size: 18px;
  margin: 0 8px;
  border-radius: 6px;
  display: flex; 
  align-items: center;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: padding 0.5s ease;
}

.sidebar-icon {
  transition: padding 0.5s ease;
}

.icon-collapsed {
  padding: 10px 9px; 
}

.side-bar-collapsed .side-bar-link {
  padding-left: 15px; 
}

.side-bar-expanded .side-bar-link {
  padding-left: 25px; 
}

.side-bar-link p {
  display: none; 
  margin: 0;
  transition: opacity 0.5s ease;
}

.side-bar-expanded .side-bar-link p {
  display: block; 
}

.side-bar .active {
  background-color: #f2f3fe;
  color: #038edc;
}

.side-bar .active:hover {
  color: #038edc;
}

.side-bar-link:hover {
  color: black;
}


a{
	text-decoration:none !important;
}
