
.page_404{
margin-left:100px;
padding:50px 0px;
background:#fff;
 font-family: 'Arvo', serif;
display:flex;
align-items:center;
justify-content:center;


}



.four_zero_four_bg{
 width:100%;
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 550px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-100px;}
@media (max-width:992px){
.page_404{
margin-left:20px;
}
}
@media (max-width:575px){
.page_404{
margin-left:0px;
}
}
